*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}

h1{
  text-align: center;
  margin-top: 20px;
font-family: 'SimpsonsFont', cursive; 
  color: #FFD900;
  font-size: 64px;
  text-shadow: 3px 3px black ; /* Il Giallo Simpson */
}

.container{
  width: 80%;
  margin: 0 auto;
}
.card{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 100px 0;
}

.card-item{
  min-width: 250px;
  width:calc((100%/4) - (30px / 4));
  height: 400px;
  background-color: white;
  transition: filter 0.3s ease;

}

.img-card{
  width: 100%;
  height: 100%;
}

.card-item:hover{
  filter: brightness(70%);
  cursor: pointer;
}


@font-face {
    font-family: "SimpsonFont";
    src: url("https://db.onlinewebfonts.com/t/48497e4aecdab5c56f2678cd43df541f.eot");
    src: url("https://db.onlinewebfonts.com/t/48497e4aecdab5c56f2678cd43df541f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48497e4aecdab5c56f2678cd43df541f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/48497e4aecdab5c56f2678cd43df541f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/48497e4aecdab5c56f2678cd43df541f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/48497e4aecdab5c56f2678cd43df541f.svg#Homer Simpson Revised Regular")format("svg");
}